.victory-options--list h2 {
    text-align: center;
}
.end-section-line {
    padding-top: 20px;
    border-bottom: 1px solid #ebe3e3;
    margin-top: 30px;
}
.victory-option--suggest-container {
    padding: 0 0 15px 4px;
    color: #a9a9a9;
}
.victory-option--description {
    color: #6a6a6a;
}