.how-works {
	&__item {
		&:last-child{
			&::before{
				display: none;
			}
			
		}&:first-child{
			&:after{
				display: none;
			}
		}
		&::before {
			position: absolute;
			width: 58%;
    border: 1px dashed #9B9B9B;
    content: "";
    display: block;
    right: -96px;
    top: 28%;
		}
		&::after{
				content: "";
				display: block;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background-color: #9B9B9B;
				top: 27%;
				left: 28%;
				position: absolute;
				
				
		}
	}

}
