<footer class="footer bg-secondary rounded-t-standard mt-11">
	<div class="container">
		<div class="border-b-[#EBEBEB] border-b border-solid py-12">
			<div class="grid grid-cols-12 gap-8">
				<div class="col-span-12 pt-2 md:col-span-3 lg:col-span-2">
					<!-- на главной странице без ссылки -->
					<a href="/" class="block max-w-full mb-6 text-center">
						<img src="@img/logo.png" alt="студия Современных методов печати" title="студия Современных методов печати"
							class="max-w-full" width="100" height="40" />
					</a>
					@@include('../blocks/_messengers.html',{})
				</div>
				<div class="col-span-12 md:col-span-7 lg:col-span-10">
					<div class="mb-5 lg:w-2/3">
						<h2 class="mb-5 text-4xl font-semibold">Не нашли, что искали?</h2>
						<div class="text-lg">Оставляйте заявку. Наш менеджер перезвонит вам в ближайшее время и ответит на ваши
							вопросы.
						</div>
					</div>
					<form class="grid justify-between grid-cols-10 gap-8" action="#">
						<div class="col-span-12 md:col-span-6 xl:col-span-4">
							<label for="name" class="hidden">Введите имя</label>
							<input type="text" name="name" id="name"
								class="block w-full px-5 py-4 text-lg bg-white border-none rounded-standard focus:outline-none text-black/50"
								placeholder="Введите имя" required="" />
						</div>
						<div class="col-span-12 md:col-span-6 xl:col-span-4 ">
							<label for="tel" class="hidden">+7 (_ _ _)-_ _ _-_ _-_ _</label>
							<input type="tel" name="tel" id="tel" placeholder="+7 (_ _ _)-_ _ _-_ _-_ _"
								class="block w-full p-4 text-lg bg-white border-none rounded-standard focus:outline-none form-phone text-black/50"
								required="" />
						</div>
						<button type="submit"
							class="relative xl:col-span-2 col-span-12  transition-all  group font-medium text-txt_blue px-6 py-4 rounded-[80px] border  justify-center items-center  text-center text-lg  border-primary bg-white text-nowrap   w-48">
							<span
								class="absolute inset-0 border-0 group-hover:border-[40px] ease-linear duration-100 transition-all border-white rounded-full"></span>
							<span
								class="relative text-lg transition-colors duration-500 ease-in-out text-nowrap group-hover:text-txt_dark">оставить
								заявку</span>
						</button>

					</form>
				</div>
			</div>
		</div>
		<div class="py-8">
			<div class="flex justify-between text-lg ">
				<div>© 2023 zeroprint</div>
				<a href="#">Карта сайта</a>
				<a href="#">Разработка сайта: АТИБ</a>
			</div>
		</div>
	</div>
</footer>