<head>
	<title>@@title</title>
	<meta charset="UTF-8" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://fonts.googleapis.com/css?family=Onest:regular,500,600" rel="stylesheet" />
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	<link rel="stylesheet" href="css/template_styles.css" />
	<link rel="apple-touch-icon" sizes="180x180" href="files/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="files/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="files/favicon-16x16.png">
	<link rel="manifest" href="files/site.webmanifest">
	<link rel="shortcut icon" href="files/favicon.ico" />
	<!-- <meta name="robots" content="noindex, nofollow"> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.5/jquery.inputmask.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>


	<script src="js/app.js"></script>
</head>