<div id="product-modal" tabindex="-1" aria-hidden="true"
  class="hidden  overflow-x-hidden fixed top-0 inset-x-0 z-[120] justify-end w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-[580px] max-h-full">
    <!-- Modal content -->
    <div class="relative px-10 pt-6 pb-10 bg-white shadow-table rounded-standard">
      <!-- Modal header -->
      <div class="flex flex-col justify-between ">
        <button type="button" class="inline-flex items-center justify-center w-8 h-8 bg-transparent ms-auto"
          data-modal-hide="product-modal">
          <svg width="15.556763" height="15.556396" viewBox="0 0 15.5568 15.5564" fill="none"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs />
            <line id="Line 20" x1="0.353577" y1="0.353516" x2="15.202820" y2="15.202637" stroke="#000000"
              stroke-opacity="1.000000" stroke-width="1.000000" />
            <line id="Line 21" x1="15.203186" y1="0.353516" x2="0.353943" y2="15.202637" stroke="#000000"
              stroke-opacity="1.000000" stroke-width="1.000000" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
        <h3 class="mb-6 text-3xl text-center text-txt_dark">
          Оставить заявку
        </h3>
      </div>
      <!-- Modal body -->
      <form class="flex flex-col" action="#">
        <div class="rounded-standard bg-secondary py-2.5 px-5 mb-6 flex flex-col gap-2.5">
          <div class="text-lg text-txt_dark">Изделие: <span class="opacity-70">Поло Spring</span></div>
          <div class="text-lg text-txt_dark">Цвет: <span class="opacity-70">Серый</span></div>
          <div class="text-lg text-txt_dark">Размер: <span class="opacity-70">XS</span></div>
        </div>
        <div class="flex flex-col mb-6 gap-7 ">
          <div class="">
            <label for="name" class="hidden">Введите имя</label>
            <input type="text" name="name" id="name"
              class="block w-full px-5 py-4 text-lg bg-white border-border_input rounded-standard focus:outline-none text-black/50"
              placeholder="Введите имя" required="" />
          </div>
          <div class="">
            <label for="tel" class="hidden">+7 (___)-___-__-__</label>
            <input type="tel" name="tel" id="tel" placeholder="+7 (___)-___-__-__"
              class="block w-full p-4 text-lg bg-white border-border_input rounded-standard focus:outline-none text-black/50"
              required="" />
          </div>
          
          <button type="submit"
            class="relative inline-flex justify-between items-center gap-4 p-5 overflow-hidden font-medium transition-all border border-primary rounded-[80px]  hover:bg-primary group">
            <span
              class="absolute inset-0 border-0 group-hover:border-[40px] ease-linear duration-100 transition-all border-primary rounded-full"></span>
            <span
              class="relative w-full text-lg transition-colors duration-500 ease-in-out text-txt_blue text-nowrap group-hover:text-white">оставить
              заявку</span>
          </button>
        </div>
      <div class="mx-auto text-sm text-center text-txt_dark max-w-80">Нажимая кнопку вы соглашаетесь согласие на обработку персональных данных</div>
      </form>
    </div>
  </div>
</div>

<div id="table-size" tabindex="-1" aria-hidden="true" data-modal-placement="top-right"
  class="hidden  overflow-x-hidden fixed top-0 inset-x-0 z-[120] justify-end w-full translate-x-full md:inset-0 h-[calc(100%-1rem)] max-h-full transition-all duration-300 ease-in-out">
  <div class="relative w-full max-w-[530px] max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white shadow-table rounded-bl-standard">
      <!-- Modal header -->
      <div class="flex flex-col justify-between p-4 md:p-5 ">
        <button type="button" class="inline-flex items-center justify-center w-8 h-8 bg-transparent ms-auto"
          data-modal-hide="table-size">
          <svg width="15.556763" height="15.556396" viewBox="0 0 15.5568 15.5564" fill="none"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs />
            <line id="Line 20" x1="0.353577" y1="0.353516" x2="15.202820" y2="15.202637" stroke="#000000"
              stroke-opacity="1.000000" stroke-width="1.000000" />
            <line id="Line 21" x1="15.203186" y1="0.353516" x2="0.353943" y2="15.202637" stroke="#000000"
              stroke-opacity="1.000000" stroke-width="1.000000" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
        <h3 class="text-5xl text-txt_dark ">
          Таблица размеров
        </h3>
      </div>
      <!-- Modal body -->
      <div class="p-4 space-y-4 md:p-5">
        <table class="min-w-full bg-white">
          <thead>
            <tr>
              <th class="w-16 py-2 text-base font-semibold text-left text-txt_dark">
                Размер
              </th>
              <th class="w-16 py-2 text-base font-semibold text-left text-txt_dark">
                Длина, см
              </th>
              <th class="w-16 py-2 text-base font-semibold text-left text-txt_dark">
                Обхват
                груди, см</th>
              <th class="w-16 py-2 text-base font-semibold text-left text-txt_dark">
                Плечо, см
              </th>
              <th class="w-16 py-2 text-base font-semibold text-left text-txt_dark">
                Длина
                рукава, см</th>
            </tr>
          </thead>
          <tbody>
            <tr class="odd:bg-secondary">
              <td class="py-2 text-base text-txt_dark">XS / 42</td>
              <td class="py-2 text-base text-txt_dark">69</td>
              <td class="py-2 text-base text-txt_dark">92</td>
              <td class="py-2 text-base text-txt_dark">11</td>
              <td class="py-2 text-base text-txt_dark">20</td>
            </tr>
            <tr class="odd:bg-secondary">
              <td class="py-2 text-base text-txt_dark">S / 44</td>
              <td class="py-2 text-base text-txt_dark">72</td>
              <td class="py-2 text-base text-txt_dark">98</td>
              <td class="py-2 text-base text-txt_dark">12</td>
              <td class="py-2 text-base text-txt_dark">22</td>
            </tr>
            <tr class="odd:bg-secondary">
              <td class="py-2 text-base text-txt_dark">M / 46</td>
              <td class="py-2 text-base text-txt_dark">73</td>
              <td class="py-2 text-base text-txt_dark">104</td>
              <td class="py-2 text-base text-txt_dark">13</td>
              <td class="py-2 text-base text-txt_dark">23</td>
            </tr>
            <tr class="odd:bg-secondary">
              <td class="py-2 text-base text-txt_dark">L / 48</td>
              <td class="py-2 text-base text-txt_dark">74</td>
              <td class="py-2 text-base text-txt_dark">108</td>
              <td class="py-2 text-base text-txt_dark">14</td>
              <td class="py-2 text-base text-txt_dark">23</td>
            </tr>
            <tr class="odd:bg-secondary">
              <td class="py-2 text-base text-txt_dark">XL / 50</td>
              <td class="py-2 text-base text-txt_dark">77</td>
              <td class="py-2 text-base text-txt_dark">112</td>
              <td class="py-2 text-base text-txt_dark">15</td>
              <td class="py-2 text-base text-txt_dark">23</td>
            </tr>
            <tr class="odd:bg-secondary">
              <td class="py-2 text-base text-txt_dark">2XL / 52</td>
              <td class="py-2 text-base text-txt_dark">78</td>
              <td class="py-2 text-base text-txt_dark">114</td>
              <td class="py-2 text-base text-txt_dark">15</td>
              <td class="py-2 text-base text-txt_dark">24</td>
            </tr>
            <tr class="odd:bg-secondary">
              <td class="py-2 text-base text-txt_dark">3XL / 54</td>
              <td class="py-2 text-base text-txt_dark">79</td>
              <td class="py-2 text-base text-txt_dark">118</td>
              <td class="py-2 text-base text-txt_dark">16</td>
              <td class="py-2 text-base text-txt_dark">25</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

 
