.slick-arrow {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: url('@img/icons/arrow-slider.svg') no-repeat center;
	position: absolute;
	top: 50%;
	text-indent: -9999px;
	overflow: hidden;
	z-index: 10;
	&:hover {		
		border: 1px solid rgba(255, 255, 255, 0.5);
	}
}
.slick-next{
	right: -15px;
	transform: rotate(180deg);
}
.slick-prev {
	left: -15px;
}
.slick-dots {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	margin-top: 14px;
	li {
		text-indent: -9999px;
		width: 9px;
		height: 9px;
		border-radius: 50%;
		border: 1px solid #3742f3;
		&.slick-active {
			background-color: #3742f3;
		}
	}
}
