.burger {
  height: 30px;

  border: none;
  cursor: pointer;
  position: relative;
  z-index: 15;

  &__inner {
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0px;
      position: absolute;
      height: 3px;
      background-color: #333;
    }
    span {
      width: 21px;
    }

    &::before {
      width: 30px;
      top: 0px;
    }

    &::after {
      width: 13px;
      bottom: 0px;
    }

    span {
      top: calc(50% - 1px);
    }

    .open & {
      span {
        transform: scale(0);
      }

      &::before {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
      }

      &::after {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
        width: 30px;
      }
    }
  }
}
